<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
AlarmWorX64 Common Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <!-- Common settings for Awx -->
  <appSettings>
    
    <!-- Specifies if the control should load the OperatorComments  -->
    <add key="EnableOperatorComments" value="false"/>
    
  </appSettings>
  <!-- End of common settings -->  
</configuration>
