<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
EarthWorX Common Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
	<configSections>
		<sectionGroup name="EwxLayer">
			<section name="VersionInfo" type="System.Configuration.DictionarySectionHandler" />
		</sectionGroup>
		<sectionGroup name="PushPin">
			<section name="VersionInfo" type="System.Configuration.DictionarySectionHandler" />
		</sectionGroup>
	</configSections>

	<EwxLayer>
		<VersionInfo>
			<!--<add key="CompanyName" value="ICONICS, Inc." />-->
			<!--<add key="ProductName" value="EarthWorX" />-->
			<!--<add key="ProductVersion" value="10.60.0.0" />-->
		</VersionInfo>
	</EwxLayer>

	<PushPin>
		<VersionInfo>
			<!--<add key="CompanyName" value="ICONICS, Inc." />-->
			<!--<add key="ProductName" value="PushPin" />-->
			<!--<add key="ProductVersion" value="10.60.0.0" />-->
		</VersionInfo>
	</PushPin>

	<!-- This section is NOT used by Ewx. It's here just as a backup -->
  <system.serviceModel>
    <bindings>
		<basicHttpBinding>
			<binding name="BasicHttpBinding_IImageryService" closeTimeout="00:01:00"
				openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				useDefaultWebProxy="true">
				<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				<security mode="None">
					<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
					<message clientCredentialType="UserName" algorithmSuite="Default" />
				</security>
			</binding>
			<binding name="BasicHttpBinding_IGeocodeService" closeTimeout="00:01:00"
				openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				useDefaultWebProxy="true">
				<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				<security mode="None">
					<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
					<message clientCredentialType="UserName" algorithmSuite="Default" />
				</security>
			</binding>
		</basicHttpBinding>
    </bindings>
	<client>
		<endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc"
			binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService"
			contract="ImageryService.IImageryService" name="BasicHttpBinding_IImageryService" />
		<endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc"
			binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService"
			contract="GeocodeService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
	</client>
  </system.serviceModel>
  <!-- End of backup section -->

  <!-- Common settings for Ewx -->
  <appSettings>
    <!-- The URL of the BING web service -->
    <add key ="BingServiceUrl" value ="http://common.virtualearth.net/find-30/common.asmx"/>
    <!-- {0} is the tile type, {1} is the quadkey, {2} is the (facultative)shading,{3} is the server -->
    <add key="TileUrl" value="http://{0}{3}.ortho.tiles.virtualearth.net/tiles/{0}{1}.png?g=1{2}"/>
    <!-- The maximum number of tiles cached in MEMORY -->
    <add key="CacheSize" value="5000"/>
    <!-- The maximum zoom level allowed. -->
    <add key="MaxAllowedZoomLevel" value="16"/>
    <!-- The maximum zoom level allowed. -->
  </appSettings>
  <!-- End of common settings -->
</configuration>
