<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
Asset Catalog Outproc Service Configuration File
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml"/>
    <client configSource="IcoCommunication.Client.config.xml"/>
  </system.serviceModel>
</configuration>
