<?xml version="1.0"?>
<!--
    *********************************************************************
    FrameWorX: Configuration of enabled point managers for FwxServer
    Copyright (c) 1986-2012 ICONICS, Inc.
    *********************************************************************
    -->

<PointManagers xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Aggregator should be the first -->
  <!-- PointManagers before aggregator will not be aggregated -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Aggregation.AggregatorPointManager</ClassName>
    <Params>
      <Param>
        <Name>CacheTimeoutSeconds</Name>
        <Value xsi:type="xsd:int">60</Value>
      </Param>
      <!--
      <Param>
        <Name>CacheConfigDatabase</Name>
        <Value xsi:type="xsd:string">not_used_yet</Value>
      </Param>
      -->
    </Params>
  </PointManagerConfiguration>

  <!-- ModifierPointManager -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Modifier.ModifierPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- UDM Expressions -->
  <!-- This PM must be before GenClient PM, becuase it handles its points (@exp64:someting.Value) -->
  <!-- It must also be before Network PM, because it modifies the point names of the remote points (@exp64:\\RemotePC\someting.Value) and those should be handled by Network PM -->
  <PointManagerConfiguration>
    <Assembly>FwxServerDataManager</Assembly>
    <ClassName>Ico.FwxServer.DataManager.FwxServerDataManager</ClassName>
    <Params>
      <Param>
        <Name>InterceptLegacyExpressions</Name>
        <Value xsi:type="xsd:boolean">true</Value>
        <Hidden>true</Hidden>
      </Param>
    </Params>
    <Outproc>false</Outproc>
    <Disabled>false</Disabled>
    <Hidden>false</Hidden>
  </PointManagerConfiguration>

  <!-- Global Aliasing PM -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGas</Assembly>
    <ClassName>Ico.Fwx.Server.Gas.GasPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- Language Aliasing PM -->
  <PointManagerConfiguration>
    <Assembly>FwxServerLas</Assembly>
    <ClassName>Ico.Fwx.Server.Las.LasPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- SNMP - it has to be before the GenClient PM to handle old point name syntax -->
  <PointManagerConfiguration>
    <Assembly>IcoSnmpPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.Snmp.SnmpPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- GenClientPointManager accesses V9-like functionality and Classic OPC -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGenClient</Assembly>
    <ClassName>Ico.Fwx.Server.GenClient.GenClientPointManager</ClassName>
    <Outproc>false</Outproc>
    <OutprocService>FwxGenClientService</OutprocService>
    <Params>
      <Param>
        <Name>LogOpcComplianceErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- Internal Simulator -->
  <PointManagerConfiguration>
    <Assembly>FwxAsyncServer</Assembly>
    <ClassName>Ico.Fwx.Communication.Server.SimulationPointManager.SimulationPointManager</ClassName>
    <Params>
      <Param>
        <Name>BrowsingDisabled</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>SimulateEnumeration</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
    <Outproc>false</Outproc>
    <OutprocService>FwxSimulatorService</OutprocService>
  </PointManagerConfiguration>

  <!-- OPC Xi support -->
  <PointManagerConfiguration>
    <Assembly>FwxXiPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.Xi.XiPointManager</ClassName>
  </PointManagerConfiguration>
  
  <!-- Support for load balancing -->
  <PointManagerConfiguration>
    <Assembly>IcoFwxServerLib</Assembly>
    <ClassName>Ico.Fwx.Server.LoadBalancer.FwxControlPointManager</ClassName>
    <Params>
      <Param>
        <Name>EnableServiceStartStop</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>PlatformServicesNames</Name>
        <Value xsi:type="xsd:string">
          AWXMMX32;BACnetRuntime64;
          FwxAnalytiXService;FwxAssetCatalogService;FwxAwxLoggerService;FwxGridWorXService;FwxSimulatorService;
          GenEvent64;GenRegistrar;
          IcoAlarmLogger;IcoAlarmService;IcoEaService;IcoFaService;IcoFwxServer;
          IcoGasEngine;IcoGenBroker;IcoLicenseService;IcoMGXServiceCore;
          IcoHHOpcHDA;IcoHHServiceCollector;IcoHHServiceCore;
          ICONICSOPCServerSuiteLoggerV5;ICONICSOPCServerSuiteV5;IcoRemotingService;IcoScheduleWorXRuntime;
          IcoTwxLogger;IcoUdmRuntime;
          OpcEnum;TwxHDA64;UALDS;
        </Value>
        <Hidden>true</Hidden>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- TrendWorX64 -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGenClient</Assembly>
    <ClassName>Ico.Fwx.Server.GenClient.TrendWorX.TwxPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- AlarmWorX Logger -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGenClient</Assembly>
    <ClassName>Ico.Fwx.Server.GenClient.AwxLogger.AwxPointManager</ClassName>
    <Outproc>false</Outproc>
    <OutprocService>FwxAwxLoggerService</OutprocService>
  </PointManagerConfiguration>

  <!-- Global AlarmWorX Subscriptions -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGenClient</Assembly>
    <ClassName>Ico.Fwx.Server.GenClient.AwxGlobal.SubscriptionsPointManager</ClassName>
  </PointManagerConfiguration> 
  
  <!-- BACnet -->
  <PointManagerConfiguration>
    <Assembly>BacNetPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.BacNet.BacNetPointManager</ClassName>
    <Params>
      <Param>
        <Name>HistoryBufferSize</Name>
        <Value xsi:type="xsd:int">5000</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- HH Collector -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Core.HyperHistorian.HHCollectorPointManager</ClassName>
    <Outproc>false</Outproc>
    <Disabled>false</Disabled>
    <Hidden>true</Hidden>
  </PointManagerConfiguration>

  <!-- HH Logger -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Core.HyperHistorian.HHLoggerPointManager</ClassName>
    <Outproc>false</Outproc>
    <Disabled>false</Disabled>
    <Hidden>true</Hidden>
  </PointManagerConfiguration>

  <!-- iFWX Web Services -->
  <PointManagerConfiguration>
    <Assembly>FwxWebServicesPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.WebServices.WebServicesPointManager</ClassName>
    <Params>
      <Param>
        <Name>CacheMaxSizeItems</Name>
        <Value xsi:type="xsd:int">400</Value>
      </Param>
      <Param>
        <Name>ItemCacheSlidingExpirationMins</Name>
        <Value xsi:type="xsd:int">10</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- GridWorX Runtime -->
  <PointManagerConfiguration>
    <Assembly>GdxPointManager</Assembly>
    <ClassName>Ico.Gdx.Runtime.DatabasePointManager</ClassName>
    <Outproc>false</Outproc>
    <OutprocService>FwxGridWorXService</OutprocService>
    <Params>
      <Param>
        <Name>MaxTimeToLoadConfigurationSecs</Name>
        <Value xsi:type="xsd:int">60</Value>
      </Param>
      <Param>
        <Name>CacheMaxSizeMb</Name>
        <Value xsi:type="xsd:int">200</Value>
      </Param>
      <Param>
        <Name>CacheMaxPhysicalMemoryPercent</Name>
        <Value xsi:type="xsd:int">0</Value>
      </Param>
      <Param>
        <Name>AlwaysInvalidateCacheOnInsert</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>DatabaseOperationThrottleMsec</Name>
        <Value xsi:type="xsd:int">0</Value>
      </Param>
      <Param>
        <Name>SkipDataSourceSchemaVerification</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>ForceWritesForUnchangedValues</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>ItemCacheSlidingExpirationMins</Name>
        <Value xsi:type="xsd:int">10</Value>
      </Param>
      <Param>
        <Name>EnforceDataConstraints</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- Configuration PM for Workbench server -->
  <PointManagerConfiguration>
    <Assembly>IcoConfigPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.Workbench.ConfigPointManager</ClassName>
    <Hidden>true</Hidden>
    <Outproc>true</Outproc>
    <Params>
      <Param>
        <Name>RuntimeCollectionExcludedPrefixes</Name>
        <!-- semicolon separated prefixes of points that should not be reported -->
        <Value xsi:type="xsd:string">?;$;cfg:</Value>
        <Hidden>true</Hidden>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- MobileHMI Point Manager -->
  <PointManagerConfiguration>
    <Assembly>IcoMobileHmiPointManager</Assembly>
    <ClassName>Ico.Mobile.Server.MobileHmiPointManager</ClassName>
    <Params>
      <Param>
        <Name>EmptyFilterMatchesAll</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- HistoryPointManager represents the History folder and dispatches to other point managers -->
  <!-- should be before NetworkPointManager, which steals points from this PM -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.History.HistoryPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- Redundancy information PM -->
  <PointManagerConfiguration>
    <Assembly>FwxServerRedundancy</Assembly>
    <ClassName>Ico.Fwx.Server.Redundancy.RedundancyPointManager</ClassName>
    <Params>
      <Param>
        <Name>RedundancyProvider0</Name>
        <Value xsi:type="xsd:string">FwxServerGenClient!Ico.FwxServer.GenClient.MonitorWorX.MwxRedundancyProvider</Value>
        <Hidden>true</Hidden>
      </Param>
      <Param>
        <Name>RedundancyProvider1</Name>
        <Value xsi:type="xsd:string">FwxServerOuterUa!Ico.FwxServer.OuterServers.UaRedundancyProvider</Value>
        <Hidden>true</Hidden>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- Sample PM 
  <PointManagerConfiguration>
    <Assembly>SamplePointManager</Assembly>
    <ClassName>SamplePointManager.MyPointManager</ClassName>
  </PointManagerConfiguration>
  -->

  <!-- Network point managers - only for middle-tier servers -->
  <!-- They are all exposed as one -->
  <!-- should be after HistoryPointManager so it does not steal points from it -->
  <!-- PointManager for Reverse FWX Communicartion -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Net.ReverseNetPointManager</ClassName>
    <Params>
      <Param>
        <Name>BrowsingDisabled</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  <!-- PointManager for Streight FWX Communicartion -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Net.NetPointManager</ClassName>
    <Params>
      <Param>
        <Name>BrowsingDisabled</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- PM for Phone Push messages -->
  <PointManagerConfiguration>
    <Assembly>IcoFwxServerLib</Assembly>
    <ClassName>Ico.FwxServer.PhoneManager.PhonePointManager</ClassName>
    <Params>
      <Param>
        <Name>PushMessageSendRateSeconds</Name>
        <Value xsi:type="xsd:int">15</Value>
      </Param>
      <Param>
        <Name>ToastMessageQueueLength</Name>
        <Value xsi:type="xsd:int">8</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  
  <!-- PM for Asset Catalog runtime and also for Phone support -->
  <PointManagerConfiguration>
    <Assembly>IcoAssetCatalogPointManager</Assembly>
    <ClassName>Ico.AssetCatalog.PointManager.AssetCatalogInprocPointManager</ClassName>
    <Params />
  </PointManagerConfiguration>
  <PointManagerConfiguration>
    <Assembly>IcoAssetCatalogPointManager</Assembly>
    <ClassName>Ico.AssetCatalog.PointManager.AssetCatalogPointManager</ClassName>
    <Params>
      <Param>
        <Name>ForwardRateMilliseconds</Name>
        <Value xsi:type="xsd:int">200</Value>
      </Param>
      <Param>
        <Name>CacheFlushRateSeconds</Name>
        <Value xsi:type="xsd:int">15</Value>
      </Param>
    </Params>
    <Outproc>false</Outproc>
    <OutprocService>FwxAssetCatalogService</OutprocService>
  </PointManagerConfiguration>
  
  <!-- PointManager for AnalytiX Viewers -->
  <PointManagerConfiguration>
    <Assembly>IcoBizVizAnalyticsFwx</Assembly>
    <ClassName>Ico.BizViz.Analytics.Fwx.AnalyticsPointManager</ClassName>
    <Params>
      <Param>
        <Name>CacheMaxSizeMb</Name>
        <Value xsi:type="xsd:int">100</Value>
      </Param>
    </Params>
    <Outproc>false</Outproc>
    <OutprocService>FwxAnalytiXService</OutprocService>
  </PointManagerConfiguration>

  <!-- PointManager for client-clent Commanding -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Core.Commands.CommandPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- PointManager for ScheduleWorX64 Viewer -->
  <PointManagerConfiguration>
    <Assembly>SchwxPointManager</Assembly>
    <ClassName>Ico.Schwx.SchwxPointManager.SchwxPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- PointManager for Cameras -->
  <PointManagerConfiguration>
    <Assembly>FwxCameraPointManager</Assembly>
    <ClassName>Ico.Fwx.Server.Camera.CameraPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- Echo PM -->
  <PointManagerConfiguration>
    <Assembly>FwxAsyncServer</Assembly>
    <ClassName>Ico.Fwx.Communication.Server.PointManagers.EchoPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- OPC UA Point manager should be the last one to not steal points from other PMs -->
  <PointManagerConfiguration>
    <Assembly>FwxServerOuterUa</Assembly>
    <ClassName>Ico.Fwx.Server.OuterServers.UaPointManager</ClassName>
    <Params>
      <Param>
        <Name>AllowLiteralNodeIds</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>BrowseMode</Name>
        <Value xsi:type="xsd:int">0</Value>
      </Param>
      <Param>
        <Name>ReportPublishErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>AcceptAnyServerCertificate</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
      <Param>
        <Name>ShowDuplicateChildren</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>LogOpcComplianceErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>RejectPointsWithNoExplicitPrefix</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>BrowsePointsWithExplicitPrefix</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>
  <!-- Do not add point managers here -->
  <!-- Put them before OPC UA Point Manager -->
  <!-- OPC UA Point manager should be the last one to not steal points from other PMs -->

</PointManagers>

