<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
FwxServerConfigApp Configuration Settings
Copyright (c) 1986-2014 ICONICS, Inc.
*********************************************************************
-->
<configuration>
	<configSections>
	</configSections>
</configuration>
