<?xml version='1.0' encoding='utf-8'?>
<!--
    *********************************************************************
    FrameWorX: Configuration of FwxServer network
    Copyright (c) 1986-2013 ICONICS, Inc.
    *********************************************************************
    -->

<ServerNetworkConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- Standard, Forwarding or DataCollector -->
  <ServerRole>Standard</ServerRole>
  
  <!-- List of addresses of load balancing servers, used by this server to distribute load on -->
  <LoadBalancingServers>
    <!--
    <LoadBalancingServer>
      <Host>load_balancing_server_address</Host>
    </LoadBalancingServer>
    -->
  </LoadBalancingServers>

  <LicenseSource>LocalKey</LicenseSource>
  <AllowLicenseSharing>true</AllowLicenseSharing>

  <!-- Addresses of primary and secondary license servers -->
  <PrimaryLicenseServer></PrimaryLicenseServer>
  <SecondaryLicenseServer></SecondaryLicenseServer>

  <!-- Parameters for getting cloud license -->
  <CloudLicensePool></CloudLicensePool>
  <CloudLicenseQuotaName></CloudLicenseQuotaName>
  <CloudLicensePasswordHash></CloudLicensePasswordHash>

  <!-- Mask to allow a specific type(s) of clients (Normal or Silverlight etc. - see ClientId.ClientTypes -->
  <!-- 0 to allow all clients -->
  <AllowedClientMask>255</AllowedClientMask>

  <!-- Options for reporting to a central FwxServer -->
  <EnableReporting>false</EnableReporting>
  <!-- Name of the server to report to (when EnableReporting = true) -->
  <ReportToFwxServerName></ReportToFwxServerName>
  <!-- URL format of the server to report to -->
  <ReportToFwxServerUrlFormat>http://{0}:80/BasicHttpReverse</ReportToFwxServerUrlFormat>
  <!-- <ReportToFwxServerUrlFormat>net.tcp://{0}:9778/NetTcp</ReportToFwxServerUrlFormat> -->

  <!-- Name of the FwxServer to forward the requests to -->
  <!-- only valid for ServerRole == Forwarding -->
  <ForwardToServerName></ForwardToServerName>

  <!-- List of servers to report to-->
  <ReportToServers />
  
  <!-- List of point names that shoudl be traced in the following form -->
  <!-- 
  <TracePoints>
    <string>PointName1</string>
    <string>PointName2</string>
  </TracePoints>
  -->
  <TracePoints />

  <!-- Enables/disables OPC UA interface -->
  <OpcUaInterface>true</OpcUaInterface>

  <!-- Address ranges where the clients are allowed to connect from -->
  <!-- IPv6 and IPv4 ranges -->
  <AllowedClientAddresses>
    <AddressRange>
      <From>::</From>
      <To>ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff</To>
    </AddressRange>
    <AddressRange>
      <From>0.0.0.0</From>
      <To>255.255.255.255</To>
    </AddressRange>
  </AllowedClientAddresses>

  <!-- Computer names where the clients are allowed to connect from -->
  <AllowedClientComputers>
    <Computer>
      <Name>*</Name>
    </Computer>
  </AllowedClientComputers>

  <!-- Address ranges where the FwxServer client connections are unsecured -->
  <!-- IPv6 and IPv4 ranges -->
  <UnsecuredClientAddresses>
    <AddressRange>
      <From>127.0.0.1</From>
      <To>127.0.0.1</To>
    </AddressRange>
    <AddressRange>
      <From>::1</From>
      <To>::1</To>
    </AddressRange>
  </UnsecuredClientAddresses>
  
  <!-- Computer names where the FwxServer client connections are unsecured -->
  <UnsecuredClientComputers>
    <Computer>
      <Name>*</Name>
    </Computer>
  </UnsecuredClientComputers>

  <!-- true when the server modules should be allowed to access FwxServer with no security -->
  <UnsecuredAccessForServerModules>true</UnsecuredAccessForServerModules>

</ServerNetworkConfiguration>
