<?xml version="1.0" encoding="utf-8"?>
<!--
*********************************************************************
FwxServer OPC Wrapper
Mapping types defined by FwxServer to Classic OPC AE categories
Copyright (c) 1986-2012 ICONICS, Inc.
 *********************************************************************
-->

<CategoryTypeMap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <!-- Generic base types -->
  <CategoryType>
    <CategoryId>100</CategoryId>
    <TypeName>BaseEventType</TypeName>
  </CategoryType>
  <CategoryType>
    <CategoryId>101</CategoryId>
    <TypeName>BaseConditionType</TypeName>
  </CategoryType>

  <!-- Basic OPC AE types (from FWX) -->
  <CategoryType>
    <CategoryId>200</CategoryId>
    <TypeName>OpcAEType</TypeName>
  </CategoryType>
  <CategoryType>
    <CategoryId>201</CategoryId>
    <TypeName>OpcAESimpleEventType</TypeName>
  </CategoryType>
  <CategoryType>
    <CategoryId>202</CategoryId>
    <TypeName>OpcAETrackingEventType</TypeName>
  </CategoryType>

  <!-- BACnet types -->
  <CategoryType>
    <CategoryId>300</CategoryId>
    <TypeName>BACnetAlarmType</TypeName>
  </CategoryType>

</CategoryTypeMap>

