<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
GraphWorX64 Configuration Settings for GwxRuntimeApp.exe
Copyright (c) 1986-2010 ICONICS, Inc.
*********************************************************************
-->
<configuration>
	<configSections>
	</configSections>

  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml" />
    <client configSource="IcoCommunication.Client.config.xml" />
  </system.serviceModel>
  
	<appSettings>
	  <add key="TraceCategoryName" value="Gwx64"/>
    
    <!-- <add key="InitialUICulture" value="en-us"/> -->
  </appSettings>

  <!--
  <system.web>
    <caching>
      <cache privateBytesLimit="0"
        percentagePhysicalMemoryUsedLimit="80"
        privateBytesPollTime="00:02:00" />
    </caching>
  </system.web>
  -->

</configuration>
