<?xml version="1.0"?>
<!--
    *********************************************************************
    HH Collector: Common configuration settings
    Copyright (c) 1986-2012 ICONICS, Inc.
    *********************************************************************
    -->
<configuration>
	<configSections>
    <section name="Opc.Ua.Server" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
    <section name="DataPointTraceMonitor" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
  
	<system.serviceModel>
		<services>
      <!-- 
      The following is setting for FwxAsyncService (configuration for collector-logger data transfer)
      -->
      <service behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior" name="Ico.Fwx.Communication.Server.FwxStandardAsyncService">        
        <endpoint address="http://localhost:80/hhcollectorserver" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8500" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:8501" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <!--
        Secure wsHttp endpoint - uncomment it to enable secure wsHttp communication. Good practise is to disable previous unsecure endpoints (comment them out).
        -->
        <!-- 
        <endpoint address="http://localhost:8502/WSHttp_Cert" binding="wsHttpBinding" bindingConfiguration="WSHttp_Cert_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer"/>
        -->        
      </service>
    </services>

    <!-- Servers deployed in production environments should turn the httpGetEnabled and includeExceptionDetailInFaults options off -->
    <behaviors>
      <serviceBehaviors>
      
      <!-- HH Collector service behavior-->
      <behavior name="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
        <serviceMetadata httpGetEnabled="false"/>
        <serviceDebug includeExceptionDetailInFaults="true"/>
        <dataContractSerializer maxItemsInObjectGraph="67108864"/>

        <!-- 
        HH Collector server certificate. Enable the following section to enable secure wsHttp communication. Make sure collector with target name exist and
        can be accessed by HH Collector service.
        -->
        
        <!--
        <serviceCredentials>          
          <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName" findValue="HyperHistorian Collector"/>
          <clientCertificate>
            <authentication certificateValidationMode="PeerTrust"/>
          </clientCertificate>
        </serviceCredentials>
        -->
      </behavior>

      </serviceBehaviors>
      
      <!-- FwxServer service client-side behavior-->
      <endpointBehaviors>
        <behavior name="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
          <dataContractSerializer maxItemsInObjectGraph="67108864"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings configSource="HHCommunication.Bindings.config"/>
    <client configSource="HHCommunication.Client.config"/>
  </system.serviceModel>

  <Opc.Ua.Server>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>HHLoggerUaServer.config</FilePath>
    </ConfigurationLocation>
  </Opc.Ua.Server>

  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
  </runtime>

  <appSettings>
		<!-- Trace -->
		<add key="TraceCategoryName" value="HyperHistorianCollector"/>
		<!-- Storage path. e.g. value="C:\ICONICS\Collector"-->
		<add key="DefaultStoragePath" value=""/>
    <!-- Max. communication buffer size in bytes
    <add key="MaxBufferSize" value="6291456"/>
    -->
    <!-- Read to confirm data package timeout in seconds
    <add key="DataPackageConfirmTimeout" value="60"/>
    -->
    <!-- Max. number of packages to monitor offset between incomming data and data package start time
    <add key="MaxDataPackagesToMonitorDataOffset" value="12"/>
    -->
    <!-- Collector communication timeout (when logger doesn't perform any call in the given time period, it is marked as disconnected)
    <add key="KeepAliveTimeoutInSec" value="15"/>
    -->
    <!-- Collector communication type, can be one of the following values: Direct, FwxServer, DirectAndFwxServer
    <add key="CommunicationType" value="DirectAndFwxServer"/>
    -->
    <!-- Collector instance names separated by semicolon, names must be short and can contain characters acceptable in file paths 
    <add key="CollectorInstanceNames" value="col1;col2;"/>
    -->
    
  </appSettings>
  
	<DataPointTraceMonitor>
		<!--
      All = 0; DebugVerbose = 100; Debug = 400; Normal = 600; Warning = 700; Error = 800; SevereError = 900; None = 1000;
     -->
		<add key="TraceLevel" value="700"/>
		<!--
    <add key="@sim64:Double.Ramp(50,0,100,180).Value" value =""/>
    <add key="@sim64:Double.Sine(50,0,100,0).Value" value =""/>
    <add key="@sim64:Double.Random(50,0,100,180).Value" value =""/>
    -->
	</DataPointTraceMonitor>
  
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
