<client>
  <!--
  *********************************************************************
  Hyper Historian: Client setting for SL/WCF communication
  Copyright (c) 1986-2010 ICONICS, Inc.
  *********************************************************************
  -->
  <!-- Start of section used by Fwx Communication -->

  <endpoint address="http://placeholder/hhcollectorserver" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="hhcollectorserver_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <endpoint address="http://placeholder/hhcoreserver" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="hhcoreserver_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <endpoint address="http://placeholder/BasicHttp" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="BasicHttp_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <endpoint address="http://placeholder/WSHttp" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="WSHttp_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <endpoint address="http://placeholder/WSHttp_Cert" binding="wsHttpBinding" bindingConfiguration="WSHttp_Cert_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="WSHttp_Cert_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
    <identity>
      <!--<certificateReference storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByIssuerName"  findValue="HyperHistorian Collector"/>-->
    </identity>
  </endpoint>
  <endpoint address="net.tcp://placeholder/NetTcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="NetTcp_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <endpoint address="net.pipe://placeholder/NetNamedPipe" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAsyncServer"
      contract="Ico.Fwx.Communication.Core.IAsyncServer" name="NetNamedPipe_IAsyncServer"
      behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
  </endpoint>
  <!-- End of section used by Fwx Communication -->

</client>
