<?xml version="1.0"?>
<!--
    *********************************************************************
    HH Logger: Common configuration settings
    Copyright (c) 1986-2012 ICONICS, Inc.
    *********************************************************************
    -->
<configuration>
  <configSections>
    <section name="Opc.Ua.Server" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
    <section name="DataPointTraceMonitor" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ExtensionModules" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <system.serviceModel>
    
    <!-- 
        Following is the setting for FwxAsyncService (configuration for core-core redundancy processing)
      -->
    <services>
        <service behaviorConfiguration="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior" name="Ico.Fwx.Communication.Server.FwxStandardAsyncService">
          <endpoint address="http://localhost:80/hhcoreserver" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint>
          <endpoint address="http://localhost:8493" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint>
          <endpoint address="net.tcp://localhost:8494" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer">
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint>

        <!--
        Secure wsHttp endpoint - uncomment it to enable secure wsHttp communication. Good practise is to disable previous unsecure endpoints (comment them out).
        -->
        <!-- 
        <endpoint address="http://localhost:8495/WSHttp_Cert" binding="wsHttpBinding" bindingConfiguration="WSHttp_Cert_IAsyncServer" contract="Ico.Fwx.Communication.Core.IAsyncServer"/>
        -->
        </service>
    </services>

    <!-- Servers deployed in production environments should turn the httpGetEnabled and includeExceptionDetailInFaults options off -->
    <behaviors>
      <serviceBehaviors>

        <!-- HH Logger service behavior-->
        <behavior name="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="67108864"/>

        <!-- 
        HH Logger server certificate. Enable the following section to enable secure wsHttp communication. Make sure collector with target name exist and
        can be accessed by HH Logger Service.
        -->

        <!--
        <serviceCredentials>          
          <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName" findValue="HyperHistorian Logger"/>
          <clientCertificate>
            <authentication certificateValidationMode="PeerTrust"/>
          </clientCertificate>
        </serviceCredentials>
        -->
        </behavior>

      </serviceBehaviors>

      <!-- FwxServer service client-side behavior-->
      <endpointBehaviors>
        <behavior name="Ico.Fwx.Communication.Server.FwxStandardAsyncService.Behavior">
          <dataContractSerializer maxItemsInObjectGraph="67108864"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings configSource="HHCommunication.Bindings.config"/>
    <client configSource="HHCommunication.Client.config"/>
  </system.serviceModel>

  <Opc.Ua.Server>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
        <FilePath>HHLoggerUaServer.config</FilePath>
    </ConfigurationLocation>
  </Opc.Ua.Server>
  
  <appSettings>
    <!-- Trace -->
    <add key="TraceCategoryName" value="HyperHistorianLoggerManager"/>
    
    <!-- Max. communication buffer size in bytes
    <add key="MaxBufferSize" value="6291456"/>
    -->
    <!-- Read to confirm data package timeout in seconds
    <add key="DataPackageConfirmTimeout" value="60"/>
    -->
    <!-- FwxServer PlugIn configuration file (in-process collectors only), uncomment it in case default settings should be overridden 
    <add key="FwxPlugInConfigName" value="HHServer.PointManagers.config"/>
    -->
    <!-- Logger/Collector and Logger/Logger sync. method call timeout in seconds
    <add key="SyncMethodCallTimeout" value="30"/>
    -->
    <!-- Max. # of concurrently managed continuation points 
    <add key="MaxContinuationPoints" value="10000"/>
    -->
    <!-- Continuation points Timeout in seconds
    <add key="ContinuationPointsTimeout" value="60"/>
    -->
    <!-- Logger communication timeout (when logger doesn't perform any call in the given time period, it is marked as disconnected)
    <add key="KeepAliveTimeoutInSec" value="15"/>
    -->
    <!-- Logger communication type, can be one of the following values: Direct, FwxServer, DirectAndFwxServer
    <add key="CommunicationType" value="DirectAndFwxServer"/>
    -->
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
  </runtime>

  <DataPointTraceMonitor>
    <!--
      This section is for in-process collector;
      All = 0; DebugVerbose = 100; Debug = 400; Normal = 600; Warning = 700; Error = 800; SevereError = 900; None = 1000;
     -->
    <add key="TraceLevel" value="700"/>

    <!--
    <add key="@sim64:Double.Ramp(50,0,100,180).Value" value =""/>
    <add key="@sim64:Double.Sine(50,0,100,0).Value" value =""/>
    <add key="@sim64:Double.Random(50,0,100,180).Value" value =""/>
    -->
  </DataPointTraceMonitor>

  <ExtensionModules>
    <add key="HHQualityAnalytics.dll!Ico.HH.QualityAnalytics.SpcExtensionModule" value=""/>
  </ExtensionModules>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
