<?xml version="1.0"?>
<!--
    *********************************************************************
    HH Collector: Configuration of enabled point managers for HH Collector
    Copyright (c) 1986-2012 ICONICS, Inc.
    *********************************************************************
    -->

<PointManagers xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Aggregator should be the first -->
  <!-- PointManagers before aggregator will not be aggregated -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Aggregation.AggregatorPointManager</ClassName>
    <Params>
      <Param>
        <Name>CacheTimeoutSeconds</Name>
        <Value xsi:type="xsd:int">60</Value>
      </Param>
      <!--
      <Param>
        <Name>CacheConfigDatabase</Name>
        <Value xsi:type="xsd:string">not_used_yet</Value>
      </Param>
      -->
    </Params>
  </PointManagerConfiguration>

  <!-- ModifierPointManager -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Modifier.ModifierPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- GenClientPointManager accesses V9-like functionality and Classic OPC -->
  <PointManagerConfiguration>
    <Assembly>FwxServerGenClient</Assembly>
    <ClassName>Ico.Fwx.Server.GenClient.GenClientPointManager</ClassName>
    <Outproc>false</Outproc>
    <OutprocService>FwxGenClientService</OutprocService>
    <Params>
      <Param>
        <Name>LogOpcComplianceErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- Internal Simulator -->
  <PointManagerConfiguration>
    <Assembly>FwxAsyncServer</Assembly>
    <ClassName>Ico.Fwx.Communication.Server.SimulationPointManager.SimulationPointManager</ClassName>
    <Params>
      <Param>
        <Name>BrowsingDisabled</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
    <Outproc>false</Outproc>
    <OutprocService>FwxSimulatorService</OutprocService>
  </PointManagerConfiguration>

  <!-- Network point managers - only for middle-tier servers -->
  <!-- They are all exposed as one -->
  <!-- should be after HistoryPointManager so it does not steal points from it -->
  <!-- PointManager for Streight FWX Communicartion -->
  <PointManagerConfiguration>
    <Assembly>FwxServerCore</Assembly>
    <ClassName>Ico.FwxServer.Net.NetPointManager</ClassName>
    <Params>
      <Param>
        <Name>BrowsingDisabled</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- Echo PM -->
  <PointManagerConfiguration>
    <Assembly>FwxAsyncServer</Assembly>
    <ClassName>Ico.Fwx.Communication.Server.PointManagers.EchoPointManager</ClassName>
  </PointManagerConfiguration>

  <!-- OPC UA Point manager should be the last one to not steal points from other PMs -->
  <PointManagerConfiguration>
    <Assembly>FwxServerOuterUa</Assembly>
    <ClassName>Ico.Fwx.Server.OuterServers.UaPointManager</ClassName>
    <Params>
      <Param>
        <Name>AllowLiteralNodeIds</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>BrowseMode</Name>
        <Value xsi:type="xsd:int">0</Value>
      </Param>
      <Param>
        <Name>ReportPublishErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>AcceptAnyServerCertificate</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
      <Param>
        <Name>ShowDuplicateChildren</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>LogOpcComplianceErrors</Name>
        <Value xsi:type="xsd:boolean">false</Value>
      </Param>
      <Param>
        <Name>RejectPointsWithNoExplicitPrefix</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
      <Param>
        <Name>BrowsePointsWithExplicitPrefix</Name>
        <Value xsi:type="xsd:boolean">true</Value>
      </Param>
    </Params>
  </PointManagerConfiguration>

  <!-- Redirector PM - all unhandled points are redirected to local FwxServer -->
  <PointManagerConfiguration>
    <Assembly>FwxAsyncNetwork</Assembly>
    <ClassName>Ico.Fwx.Communication.Network.RedirectorPointManager</ClassName>
    <Outproc>false</Outproc>
    <Disabled>false</Disabled>
    <Hidden>true</Hidden>
  </PointManagerConfiguration>
  
</PointManagers>

