<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
Historical Data Management Tool Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <configSections>
    <section name="ReportLayoutsSection" type="Ico.Reporting.ReportLayoutsConfigurationSection, IcoWPFSpecialized"/>
  </configSections>
  <ReportLayoutsSection>
    <ReportLayouts>
      <add LayoutName="Basic Report" RelativePath="Layouts/Twx64Viewer/BasicReport.rpx"/>
    </ReportLayouts>
  </ReportLayoutsSection>
</configuration>