<?xml version="1.0" encoding="utf-8"?>
<!--
*********************************************************************
HyperHistorianHDA OPC HDA Wrapper for HyperHistorian - Settings
Copyright (c) 1986-2010 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  
  <configSections>
    <section name="Opc.Ua.Client" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <Opc.Ua.Client>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>../../../../ICONICS/GENESIS64/Components/HHLoggerUaServer.config</FilePath>
    </ConfigurationLocation>
  </Opc.Ua.Client>

  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml" />
    <client configSource="IcoCommunication.Client.config.xml" />
  </system.serviceModel>

  <!-- settings for HyperHistorian HDA wrapper itself-->
  <appSettings>
    <add key="UaServerUrl" value="http://localhost:80/HyperHistorian"/>
    <add key="UaServerRootFolder" value="Configuration"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
  </runtime>

</configuration>
