<?xml version="1.0"?>
<!--
*********************************************************************
ReportWorX Service Configuration Settings
Copyright (c) 1986-2012 ICONICS, Inc.
*********************************************************************
-->
<configuration>
	<system.serviceModel>
		<behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
		<bindings configSource="IcoCommunication.Bindings.config.xml"/>
		<client configSource="IcoCommunication.Client.config.xml"/>
	</system.serviceModel>
	<startup/>
    <appSettings>
        <add key="ProductName" value="ReportWorX Express"/>
        <add key="HyperHistorian" value="Hyper Historian"/>
        <add key="TrendWorX64" value="TrendWorX64"/>
        <add key="AlarmWorX64" value="AlarmWorX64"/>
        <add key="TrendWorX32" value="TrendWorX32"/>
        <add key="AlarmWorX32" value="AlarmWorX32"/>
        <add key="EnergyStar" value="Energy Star"/>
        <add key="QualityAnalytiX" value="Quality AnalytiX"/>
        <add key="Components" value="Components"/>
    </appSettings>
</configuration>
