<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
IcoChartComponent Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
	<configSections>
		<sectionGroup name="PlotProviders">
			<section name="Plot2DRenderingProviders" type="Ico.Configuration.Provider.ProvidersConfigurationSection, IcoConfiguration" />
			<section name="Plot3DRenderingProviders" type="Ico.Configuration.Provider.ProvidersConfigurationSection, IcoConfiguration" />
		</sectionGroup>
	</configSections>
	<PlotProviders>
		<Plot2DRenderingProviders defaultProvider="Line">
			<providers>
				<add name="Line" type="Ico.Charts.Plots.LinePlotProvider, IcoChartPlugins"></add>
				<add name="Spline" type="Ico.Charts.Plots.SplinePlotProvider, IcoChartPlugins"></add>
				<add name="Area" type="Ico.Charts.Plots.AreaPlotProvider, IcoChartPlugins"></add>
				<add name="SplineArea" type="Ico.Charts.Plots.SplineAreaPlotProvider, IcoChartPlugins"></add>
				<add name="Bars" type="Ico.Charts.Plots.BarPlotProvider, IcoChartPlugins"></add>				
				<add name="Pie" type="Ico.Charts.Plots.PiePlotProvider, IcoChartPlugins"></add>
				<add name="CircularLine" type="Ico.Charts.Plots.CircularLinePlotProvider, IcoChartPlugins"></add>
				<add name="StepLine" type="Ico.Charts.Plots.StepLinePlotProvider, IcoChartPlugins"></add>
				<add name="StepArea" type="Ico.Charts.Plots.StepAreaPlotProvider, IcoChartPlugins"></add>				
			</providers>
		</Plot2DRenderingProviders>
		<Plot3DRenderingProviders defaultProvider="Line">
			<providers>
				<add name="Line" type="Ico.Charts.Plots.LinePlot3DProvider, IcoChartPlugins"></add>
        <add name="Spline" type="Ico.Charts.Plots.SplinePlot3DProvider, IcoChartPlugins"></add>
        <add name="SplineArea" type="Ico.Charts.Plots.SplineAreaPlot3DProvider, IcoChartPlugins"></add>
				<add name="ZLine" type="Ico.Charts.Plots.ZLinePlot3DProvider, IcoChartPlugins"></add>
				<add name="Bars" type="Ico.Charts.Plots.BarPlot3DProvider, IcoChartPlugins"></add>
				<add name="Cylinder" type="Ico.Charts.Plots.CylinderPlot3DProvider, IcoChartPlugins"></add>
				<add name="Cone" type="Ico.Charts.Plots.ConePlot3DProvider, IcoChartPlugins"></add>
				<add name="Pie" type="Ico.Charts.Plots.PiePlot3DProvider, IcoChartPlugins"></add>
				<add name="ZBar" type="Ico.Charts.Plots.ZBarPlot3DProvider, IcoChartPlugins"></add>
				<add name="Area" type="Ico.Charts.Plots.AreaPlot3DProvider, IcoChartPlugins"></add>
				<add name="Surface" type="Ico.Charts.Plots.SurfacePlot3DProvider, IcoChartPlugins"></add>
        <add name="StepLine" type="Ico.Charts.Plots.StepLinePlot3DProvider, IcoChartPlugins"></add>
        <add name="StepArea" type="Ico.Charts.Plots.StepAreaPlot3DProvider, IcoChartPlugins"></add>
        <!--<add name="Bars" type="Ico.Charts.Media.Media3D.BarsPlot3DProvider, IcoChartPlugins"></add>-->
			</providers>
		</Plot3DRenderingProviders>
	</PlotProviders>
</configuration>