<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
Workbench Outproc Service Configuration File
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IcoConfigService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IcoConfigService.Properties.Settings>
            <setting name="IcoConfigService_ReportingService2010_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2010.asmx</value>
            </setting>
        </IcoConfigService.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml"/>
    <client configSource="IcoCommunication.Client.config.xml"/>
  </system.serviceModel>
</configuration>