<?xml version="1.0"?>
<!--
*********************************************************************
Application Configuration File
Copyright (c) 1986-2012 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  
  <configSections>
    <section name="DomainBrowsing" type="Ico.Remoting.DomainConfigurationSection, IcoRemotingService"/>
  </configSections>

  <DomainBrowsing DomainName="" UserName="" Password=""/>
  
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<!-- buffer: 64KB; max size: 1024MB; big receive timeout for big files -->
				<binding name="BasicHttpBinding_IRemoteFileSystem" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="1073741824" receiveTimeout="00:10:00" sendTimeout="00:05:00" openTimeout="00:01:00" closeTimeout="00:00:05"/>
        <!-- buffer: 64KB; max size: 1024MB -->
        <binding name="BasicHttpBinding_IRemoteDatabase" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="1073741824" receiveTimeout="0:10:00" sendTimeout="0:05:00" openTimeout="00:01:00" closeTimeout="00:00:05"/>
			</basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IRemoteFileSystem" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="1073741824" receiveTimeout="0:10:00" sendTimeout="0:05:00" openTimeout="00:00:30" closeTimeout="00:00:05"/>
        <binding name="NetNamedPipeBinding_IRemoteDatabase" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="1073741824" receiveTimeout="0:10:00" sendTimeout="0:05:00" openTimeout="00:00:30" closeTimeout="00:00:05"/>
      </netNamedPipeBinding>
		</bindings>
		<services>
			
      <!-- Enable to expose endpoints through HTTP for cross-machine access -->
      <!--<service behaviorConfiguration="HttpRemotingServiceBehavior" name="Ico.Remoting.RemotingService">
				<endpoint name="IRemoteFileSystem" address="FileSystem" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteFileSystem" contract="Ico.Remoting.IRemoteFileSystem"/>
        <endpoint name="IRemotePrinters" address="Printers" binding="basicHttpBinding" contract="Ico.Remoting.IRemotePrinters"/>
        <endpoint name="IRemoteDatabase" address="Database" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteDatabase" contract="Ico.Remoting.IRemoteDatabase"/>
        <endpoint name="IRemoteAccounts" address="Accounts" binding="basicHttpBinding" contract="Ico.Remoting.IRemoteAccounts"/>
        <endpoint name="IRemoteSystem" address="System" binding="basicHttpBinding" contract="Ico.Remoting.IRemoteSystem"/>
        <host>
					<baseAddresses>
            <add baseAddress="http://localhost:80/RemotingService"/>
					</baseAddresses>
				</host>
			</service>-->
      <!-- Enable to expose endpoints through HTTP for cross-machine access -->
      
      <!--- Disable when enabling HTTP endpoints -->
      <service behaviorConfiguration="NetPipeRemotingServiceBehavior" name="Ico.Remoting.RemotingService">
        <endpoint name="IRemoteFileSystem" address="FileSystem" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IRemoteFileSystem" contract="Ico.Remoting.IRemoteFileSystem"/>
        <endpoint name="IRemotePrinters" address="Printers" binding="netNamedPipeBinding" contract="Ico.Remoting.IRemotePrinters"/>
        <endpoint name="IRemoteDatabase" address="Database" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IRemoteDatabase" contract="Ico.Remoting.IRemoteDatabase"/>
        <endpoint name="IRemoteAccounts" address="Accounts" binding="netNamedPipeBinding" contract="Ico.Remoting.IRemoteAccounts"/>
        <endpoint name="IRemoteSystem" address="System" binding="netNamedPipeBinding" contract="Ico.Remoting.IRemoteSystem"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/RemotingService"/>
          </baseAddresses>
        </host>
      </service>
      <!--- Disable when enabling HTTP endpoints -->
      
    </services>
		<behaviors>
			<serviceBehaviors>
				
        <behavior name="HttpRemotingServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="mex"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>

        <behavior name="NetPipeRemotingServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
	<appSettings>
		<add key="TraceCategoryName" value="RemotingService"/>
    <add key="SqlTimeoutSeconds" value="30"/>
	</appSettings>
	
	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Warning"
                    propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "c:\log\IcoRemotingService.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
