<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
IcoRemotingCore Configuration Settings
Copyright (c) 1986-2012 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <appSettings>
    <!-- Enable to connect to a Remoting Service through HTTP for cross-machine access -->
    <!--<add key="BaseUrl" value="http://{0}:80/RemotingService/"/>-->

    <!-- Disable when enabling HTTP access -->
    <add key="BaseUrl" value="net.pipe://{0}/RemotingService/"/>

    <!-- Relative endpoint addresses -->
    <add key="RelativeUrl_IRemoteFileSystem" value="FileSystem"/>
    <add key="RelativeUrl_IRemotePrinters" value="Printers"/>
    <add key="RelativeUrl_IRemoteDatabase" value="Database"/>
    <add key="RelativeUrl_IRemoteAccounts" value="Accounts"/>
    <add key="RelativeUrl_IRemoteSystem" value="System"/>
  </appSettings>
</configuration>