<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
Pack And Go Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  
  <configSections>
    <section name="RepositorySettingsDataSection" type="Ico.Workbench.PackAndGo.RepositorySettingsDataSection, IcoWorkbenchPackAndGo" />
  </configSections>
  
  <RepositorySettingsDataSection>
    <RepositorySettings>
      <add name="ASSETCATALOG" assemblyName="IcoAssetCatalogConfiguration.dll" repositoryTypeName="Ico.AssetCatalog.Configuration.v1.AcRepository" />
      <add name="AWXLOG" assemblyName="IcoAwxLoggerConfiguration.dll" repositoryTypeName="Ico.Awx.Logger.Configuration.v1.AwxLoggerRepository" />
      <add name="AWXSVR" assemblyName="IcoAwxServerConfiguration.dll" repositoryTypeName="Ico.Awx.Server.Configuration.v1.AwxServerRepository" />
      <add name="FDD" assemblyName="IcoFaConfiguration.dll" repositoryTypeName="Ico.Fa.Configuration.v1.FaRepository" />
      <add name="GAS" assemblyName="IcoGasConfiguration.dll" repositoryTypeName="Ico.Gas.Configuration.v1.GasRepository" />
      <add name="HH" assemblyName="IcoHHConfiguration.dll" repositoryTypeName="Ico.HH.Configuration.v1.HHRepository" />
      <add name="LAS" assemblyName="IcoLasConfiguration.dll" repositoryTypeName="Ico.Las.Configuration.v1.LasRepository" />
      <add name="SEC" assemblyName="IcoSecurityConfiguration.dll" repositoryTypeName="Ico.Security.Configuration.v1.SecurityRepository" />
      <add name="SNMP" assemblyName="IcoSnmpConfiguration.dll" repositoryTypeName="Ico.Snmp.Configuration.v1.SnmpRepository" />
      <add name="TWXLOG" assemblyName="IcoTwxLoggerConfiguration.dll" repositoryTypeName="Ico.Twx.Logger.Configuration.v1.TwxLoggerRepository" />
      <add name="UDM" assemblyName="IcoUdmConfiguration.dll" repositoryTypeName="Ico.Udm.Configuration.v1.UdmRepository" />
      <add name="BACNET" assemblyName="IcoBacConfiguration.dll" repositoryTypeName="Ico.Bac.Configuration.v1.BacRepository" />
      <add name="WS" assemblyName="IcoWsConfiguration.dll" repositoryTypeName="Ico.Ws.Configuration.v1.WsRepository" />
      <add name="GDXSVR" assemblyName="IcoGdxConfiguration.dll" repositoryTypeName="Ico.Gdx.Configuration.v1.GdxRepository" />
      <add name="QA" assemblyName="IcoHHConfiguration.dll" repositoryTypeName="Ico.HH.Configuration.v1.HHRepository" />
    </RepositorySettings>
  </RepositorySettingsDataSection>
  
</configuration>