<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
Workbench Installer Common Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <configSections>
    <section name="InstallerConfiguration" type="Ico.Workbench.Installer.InstallerConfiguration, IcoWorkbenchInstaller" />
  </configSections>
  <InstallerConfiguration>
    <Extensions>
      <!-- Special setup Extension -->
      <Extension ID="SETUP" Name="{{Workbench-SL\ProductName}} Setup Database" DatabaseID="ADMIN_2B0E5D96-1646-42AC-A080-42777B438D2B" Scripts="IcoSetup" DefaultDatabaseName="IcoSetup" DatabaseName="{{Workbench-SL\SetupDatabaseName}}" UssKey="SETUP/Configuration/DataLinkFile"/>
      <Extension ID="REP" Name="{{Workbench-SL\ProductName}} Report Database" DatabaseID="Reporting{702863F9-B808-4D1C-9649-380CE2A16CFE}" Scripts="IcoReporting" DefaultDatabaseName="IcoReporting" DatabaseName="{{Workbench-SL\ReportingDatabaseName}}" UssKey="Reporting/Configuration/DataLinkFile"/>

      <!-- Database Extensions -->
      <Extension ID="LAS" Name="{{Language Aliasing\ProductName}}" DatabaseID="LangAliasingDFE0FC96-7DDC-4b29-BBD6-4ECE5DF1536B" HasSampleData="true" Scripts="LanguageAliasing" DefaultDatabaseName="LanguageAliasing" DatabaseName="{{Language Aliasing\DatabaseName}}" ProviderOrder="12" ProviderNode="LasProvider" ProviderValue="LanguageAlias" UssKey="LASENGINE/Configuration/DataLinkFile"/>
      <Extension ID="MCAB" Name="MC AppBuilder" HasSampleData="true" DatabaseID="SD_9D6171E5-169C-46E9-96C9-6DC3491C1AC7" Scripts="MCAppBuilder,McAppBuilder_MxTemplates" DefaultDatabaseName="MCAppBuilder" DatabaseName="MCAppBuilder"/>
      <Extension ID="SEC" Name="{{Security\ProductName}}" DatabaseID="{270313A3-7AFB-4d2c-BC37-A5DF9E487EDD}" Scripts="IcoSec" DefaultDatabaseName="IcoSec" DatabaseName="{{Security\DatabaseName}}" ProviderOrder="16" ProviderNode="SecurityProvider" ProviderValue="Security" UssKey="Security/Configuration/DataLinkFile"/>
      <Extension ID="SNMP" Name="{{SNMP\ProductName}}" DatabaseID="SNMP_838880A9-1D1D-404a-8DF5-42843F9E9D4F" HasSampleData="true" Scripts="Snmp" DefaultDatabaseName="Snmp" DatabaseName="{{SNMP\DatabaseName}}" ProviderOrder="17" ProviderNode="SnmpProvider" ProviderValue="Snmp" UssKey="SNMP64/Configuration/DataLinkFile"/>
      <Extension ID="WS" Name="{{Web Services\ProductName}}" DatabaseID="ICOWS_AB00A7CF-876C-4012-846F-71873968FD4F" HasSampleData="true" Scripts="IcoWebServices" DefaultDatabaseName="IcoWebServices" DatabaseName="{{Web Services\DatabaseName}}" ProviderOrder="21" ProviderNode="FwxWebServicesProvider" ProviderValue="FwxWebServicesProvider" UssKey="ICOWEBSERVICES/Configuration/DataLinkFile"/>
      <Extension ID="MHMI" Name="{{MobileHMI\ProductName}}" DatabaseID="MHMI_A77860A4-8775-4002-8FCE-0FB957962296" HasSampleData="true" Scripts="HmiConfig" DefaultDatabaseName="HmiConfig" DatabaseName="{{MobileHMI\DatabaseName}}" UssKey="MobileHMI/Configuration/DataLinkFile"/>

      <!-- Database Extensions with services -->
      <Extension ID="ASSETCATALOG" Name="{{AssetWorX\ProductName}}" DatabaseID="ASSETCATALOG_0F6D4FC9-DC89-4474-B7E7-F40818C2A631" HasSampleData="true" Scripts="AssetCatalog" DefaultDatabaseName="AssetWorX" DatabaseName="{{AssetWorX\DatabaseName}}" UssKey="ASSETCATALOG/Configuration/DataLinkFile">
        <Services>
          <Service Name="FwxAssetCatalogService" Description="Provides point mapping and a virtual address space." DisplayName="{{Workbench-SL\CompanyShortName}} {{AssetWorX\ProductName}} Point Manager" FileName="FwxAssetCatalogService.exe" />
        </Services>
      </Extension>
      <Extension ID="BACNET" Name="{{BACnet\ProductName}}" DatabaseID="BACNET_F28B7531-BE90-4951-845C-6416AC52E6D0" Scripts="BACnet" DefaultDatabaseName="BACnet" DatabaseName="{{BACnet\DatabaseName}}" ProviderOrder="18" ProviderNode="BACnetRuntime64Provider" ProviderValue="BACnetRuntime64Provider" UssKey="BACnet/Configuration/DataLinkFile">
        <Services>
          <Service Name="BACnetRuntime64" Description="Provides {{BACnet\ProductName}} connectivity" DisplayName="{{Workbench-SL\CompanyShortName}} {{BACnet\ProductName}} Runtime" FileName="BACnetRuntime64.exe" />
        </Services>
      </Extension>      
      <Extension ID="GDXSVR" Name="{{GridWorX\ProductName}} Server" DatabaseID="GRIDWORX" HasSampleData="true" Scripts="GridWorX" DefaultDatabaseName="GridWorX" DatabaseName="{{GridWorX\DatabaseName}}" ProviderOrder="20" ProviderNode="GridWorXProvider" ProviderValue="GridWorXProvider" UssKey="GRIDWORX/Configuration/DataLinkFile">
        <Services>        
          <Service Name="FwxGridWorXService" Description="Provides database access" DisplayName="{{Workbench-SL\CompanyShortName}} {{GridWorX\ProductName}} Point Manager" FileName="FwxGridWorXService.exe" />
        </Services>
      </Extension>
      <Extension ID="AWXMMX"  Name="{{AlarmWorX Multimedia\ProductName}}" DatabaseID="AWX_MMX" HasSampleData="true" Scripts="AwxMMX64" DefaultDatabaseName="AwxMMX64" DatabaseName="{{AlarmWorX Multimedia\DatabaseName}}" ProviderOrder="5" ProviderNode="AwxMMXProvider" ProviderValue="AwxMMXProvider" UssKey="AWX32/AWXMMX32/OleDBDataLinkFile">
        <Services>
          <Service Name="AWXMMX32" Description="Provides services for {{AlarmWorX Multimedia\ProductName}}." DisplayName="{{Workbench-SL\CompanyShortName}} {{AlarmWorX Multimedia\ProductName}}" FileName="AWXMMX32.exe" />
        </Services>
      </Extension>
      <Extension ID="AWXLOG" Name="{{AlarmWorX64\ProductName}} Logger" DatabaseID="AWX_LOGGER_84B93C40-9B60-11d4-BDB1-00010220586A" HasSampleData="true" Scripts="AwxLogger" DefaultDatabaseName="AwxLogger" DatabaseName="{{AlarmWorX64\LoggerDatabaseName}}" ProviderOrder="10" ProviderNode="AwxLoggerProvider" ProviderValue="AlarmLogger64" UssKey="AWX/AWXLog/OleDBDataLinkFile">
        <Services>
          <Service Name="IcoAlarmLogger" Description="Logs OPC AE Alarms to a persistent storage" FileName="AWXLog64.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{AlarmWorX64\ProductName}} Logger" />
          <Service Name="FwxAwxLoggerService" Description="Provides historical alarms and events" FileName="FwxAwxLoggerService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{AlarmWorX64\ProductName}} Logger Point Manager" />
        </Services>
      </Extension>
      <Extension ID="AWXSVR" Name="{{AlarmWorX64\ProductName}} Server" DatabaseID="AWX_ALARMSERVER" HasSampleData="true" Scripts="AwxServer" DefaultDatabaseName="AwxServer" DatabaseName="{{AlarmWorX64\ServerDatabaseName}}" ProviderOrder="9" ProviderNode="AwxProvider" ProviderValue="AlarmServer64" UssKey="AWX/AWXServer/OleDBDataLinkFile">
        <Services>
          <Service Name="IcoAlarmService" StartMode="Auto" Description="Generates OPC AE Alarms from a pre-defined configuration" FileName="AwxServer64.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{AlarmWorX64\ProductName}} Server" />
        </Services>
      </Extension>
      <Extension ID="EA" Name="{{Energy AnalytiX\ProductName}}" HasSampleData="true" MasterExtension="ASSETCATALOG" Scripts="EnergyAnalytics,EnergyAnalyticsCLR">
        <Services>
          <Service Name="FwxAnalytiXService" Description="Provides data and methods for {{AnalytiX\ProductName}} client applications" FileName="FwxAnalytiXService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{AnalytiX\ProductName}} Point Manager" />
          <Service Name="IcoEaService" Description="Provides functionalities for energy analysis and calculations" Dependencies="IcoFwxServer,Winmgmt" FileName="IcoBizVizEAService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{Energy AnalytiX\ProductName}}" />
        </Services>
      </Extension>
      <Extension ID="FDD" Name="{{FDDWorX\ProductName}}" MasterExtension="ASSETCATALOG" Scripts="FaTables,FaProcedures" >
        <Services>
          <Service Name="FwxAnalytiXService" Description="Provides data and methods for {{AnalytiX\ProductName}} client applications" FileName="FwxAnalytiXService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{AnalytiX\ProductName}} Point Manager" />          
          <Service Name="IcoFaService" Description="Provides functionalities for facility analysis and calculations" Dependencies="IcoFwxServer" FileName="IcoBizVizFAService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{FDDWorX\ProductName}}" />
        </Services>
      </Extension>
      <Extension ID="FWX" Name="{{FrameWorX\ProductName}}" DatabaseID="{DB987572-612E-41c4-8E4D-54C6E5C82AA6}" Scripts="FwxServer" DefaultDatabaseName="FwxServer" DatabaseName="{{FrameWorX\DatabaseName}}" ProviderOrder="15" ProviderNode="FwxServerProvider" ProviderValue="FwxServer" UssKey="FWXSERVER/OuterServersConfiguration/DataLinkFile">
        <Services>
          <Service Name="IcoConfigService" Description="The service provides configuration methods used by {{Workbench-SL\ProductName}}" FileName="IcoConfigService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{Workbench-SL\ProductName}} Configuration Service" />          
          <Service Name="FwxSimulatorService" Description="Provides simulated data" FileName="FwxSimulatorService.exe" DisplayName="Simulator Point Manager" />
          <Service Name="IcoFwxServer" AutoStart="True" StartMode="Auto" Description="Provides middle-tier services: collects data and makes them accessible to client applications." FileName="IcoFwxServer.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{FrameWorX\ProductName}}" />
        </Services>
      </Extension>
      <Extension ID="GAS" Name="{{Global Aliasing\ProductName}}" DatabaseID="GAS_ENGINE_DB" HasSampleData="true" Scripts="GasConfig" DefaultDatabaseName="GasConfig" DatabaseName="{{Global Aliasing\DatabaseName}}" ProviderOrder="13" ProviderNode="GasProvider" ProviderValue="GlobalAlias" UssKey="GASENGINE/DataSource/DataLinkFile" />
      <Extension ID="HH" Name="{{Hyper Historian\ProductName}}" DatabaseID="HyperHistorian07F2E117-9160-4b43-8671-1F4F495D03A9" HasSampleData="true" Scripts="HyperHistorian" DefaultDatabaseName="Hyper Historian" DatabaseName="{{Hyper Historian\DatabaseName}}" ProviderOrder="6" ProviderNode="HHProvider" ProviderValue="HyperHistorian" UssKey="HHLOG/DataSource/DataLinkFile">
        <Services>
          <Service Name="IcoHHServiceCore" Description="Logs data provided to a persistent storage and provides them as historical data to client applications." FileName="HHLoggerService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{Hyper Historian\ProductName}} Logger" />
          <Service Name="IcoHHServiceCollector" Description="Collects real-time data and makes them available for logging." FileName="HHCollectorService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{Hyper Historian\ProductName}} Collector" />
        </Services>
      </Extension>
      <Extension ID="MGX" Name="{{MergeWorX\ProductName}}" DatabaseID="MergeWorX80997928-60BC-4593-9871-AC6C8B1AE90D" Scripts="MergeWorX" DefaultDatabaseName="MergeWorX" DatabaseName="{{MergeWorX\DatabaseName}}" ProviderOrder="7" ProviderNode="MGXProvider" ProviderValue="MergeWorX" UssKey="MERGEWORX/DataSource/DataLinkFile">
        <Services>
          <Service Name="IcoMGXServiceCore" Description="Merges data from different sources to {{Hyper Historian\ProductName}}" FileName="MGXCoreService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{MergeWorX\ProductName}}" />
        </Services>
      </Extension>
      <Extension ID="TWXLOG" Name="{{TrendWorX64\ProductName}} Logger" DatabaseID="TWX_LOGGER_F3A250A0-8FCB-11d4-BDB0-00010220586A" HasSampleData="true" Scripts="TwxConfig" DefaultDatabaseName="TwxConfig" DatabaseName="{{TrendWorX64\DatabaseName}}" ProviderOrder="8" ProviderNode="TwxProvider" ProviderValue="TrendLogger64" UssKey="TWXLOG32/DataSource/DataLinkFile">
        <Services>
          <Service Name="IcoTwxLogger" DisplayName="{{Workbench-SL\CompanyShortName}} {{TrendWorX64\ProductName}} Logger" Description="Logs data to a persistent storage." FileName="TwxLog64.exe" />
          <Service Name="TwxHDA64" DisplayName="{{Workbench-SL\CompanyShortName}} {{TrendWorX64\ProductName}} OPC HDA Server" Description="Provides OPC HDA connectivity to the logged data." FileName="TwxHDA64.exe" />
        </Services>
      </Extension>
      <Extension ID="UDM" Name="{{Unified Data Manager\ProductName}}" DatabaseID="{DF33A755-03C3-40E4-B3B8-D583A6230D96}" HasSampleData="true" Scripts="UdmConfig" DefaultDatabaseName="UdmConfig" DatabaseName="{{Unified Data Manager\DatabaseName}}" ProviderOrder="11" ProviderNode="UdmProvider" ProviderValue="UnifiedDataManager" UssKey="DATAMANAGER/Configuration/DataLinkFile">
        <Services>
          <Service Name="IcoUdmRuntime" AutoStart="True" StartMode="Auto" DisplayName="{{Workbench-SL\CompanyShortName}} {{Unified Data Manager\ProductName}}" Description="Provides {{Unified Data Manager\ProductName}} services." FileName="UDMRuntime64.exe" />
        </Services>
      </Extension>
      <Extension ID="SCHWX" Name="{{ScheduleWorX64\ProductName}}" DatabaseID="{844D0A1F-D412-4662-A330-8544368F7A9F}" HasSampleData="true" Scripts="ScheduleWorX" DefaultDatabaseName="ScheduleWorX" DatabaseName="{{ScheduleWorX64\DatabaseName}}" ProviderOrder="19" ProviderNode="ScheduleProvider" ProviderValue="ScheduleProvider" UssKey="SCHEDULEWORX/Configuration/DataLinkFile">
        <Services>
          <Service Name="IcoScheduleWorXRuntime" Description="Executes scheduled control events." FileName="ScheduleWorXRuntime64.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{ScheduleWorX64\ProductName}}" />
        </Services>
      </Extension>
      
      <!-- Service Extensions - WE DO NOT NEED THESE ITEMS IN ICOSETUP -->
      <!-- We also don't need to OEMize the name of the extension since it won't be used anywhere -->
      <Extension ID="GENEVENT" Name="{{GenEvent\ProductName}}">
        <Services>
          <Service Name="GenEvent64"  Description="Provides support for application messages." FileName="GenEvent64.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{GenEvent\ProductName}} Server" />
        </Services>
      </Extension>
      <Extension ID="GBK" Name="{{GenBroker\ProductName}}">        
        <Services>
          <Service Name="IcoGenBroker" AutoStart="True"  StartMode="Auto" Description="Provides communication means between {{GENESIS64\ProductName}} native modules and with the modules." FileName="GenBroker64.exe" DisplayName="{{Workbench-SL\CompanyShortName}} {{GenBroker\ProductName}}" />
        </Services>
      </Extension>
      <Extension ID="LIC" Name="License" >
        <Services>
          <Service Name="IcoLicenseService" AutoStart="True"  StartMode="Auto" Description="Provides license services. Applications can run if there is a valid license." FileName="IcoLicenseService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} License Service" />
        </Services>
      </Extension>
      <Extension ID="REM" Name="Remoting Service">
        <Services>
          <Service Name="IcoRemotingService"  AutoStart="True"  StartMode="Auto" Description="Provides an access to remote files." FileName="IcoRemotingService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} Remoting Service" />
        </Services>
      </Extension>
      <Extension ID="CAM" Name="Camera Service">
        <Services>
          <Service Name="IcoCameraService"  AutoStart="True"  StartMode="Auto" Description="Provides an access to remote cameras." FileName="IcoCameraService.exe" DisplayName="{{Workbench-SL\CompanyShortName}} Camera Service" />
        </Services>
      </Extension>

      <!-- Empty extensions. They are used to show providers in WBSL -->
      <Extension ID="QA" Name="{{Quality AnalytiX\ProductName}}" BaseProvider="HH" />

      <!-- WB Classic Extensions - WE DO NOT NEED THESE ITEMS IN ICOSETUP -->
      <Extension ID="GENTRAY" Name="{{GenTray\ProductName}}" ProviderOrder="14" ProviderNode="GentrayProvider" ProviderValue="GentrayProvider"/>
      <Extension ID="EWXVWR" Name="{{EarthWorX\ProductName}} Viewer" ProviderOrder="3" ProviderNode="GraphWorXProvider" ProviderValue="EarthWorX"/>
      
      <!-- Viewer Extensions -->
      <Extension ID="AWXVWR" Name="{{AlarmWorX64\ProductName}} Viewer" ProviderOrder="2" ProviderNode="AlarmWorXProvider" ProviderValue="AlarmWorX64" ProviderPath="..\GenDemo\AlarmWorX64_Examples"/>
      <Extension ID="EAVWR" Name="{{Energy AnalytiX\ProductName}} Viewer" />
      <Extension ID="FDDVWR" Name="{{FDDWorX\ProductName}} Viewer" />
      <Extension ID="GDXVWR" Name="{{GridWorX\ProductName}} Viewer" ProviderOrder="4" ProviderNode="GridWorXViewerProvider" ProviderValue="GridWorX" ProviderPath="..\GenDemo\GridWorX64_Examples"/>
      <Extension ID="GWXVWR" Name="{{GraphWorX64\ProductName}} Viewer" ProviderOrder="0" ProviderNode="GraphWorXProvider" ProviderValue="GraphWorX64" ProviderPath="..\GenDemo\Examples"/>
      <Extension ID="RWXEXEC" Name="{{ReportWorX\ProductName}} Executor" />
      <Extension ID="RWXVWR" Name="{{ReportWorX\ProductName}} Viewer" />
      <Extension ID="TWXVWR" Name="{{TrendWorX64\ProductName}} Viewer" ProviderOrder="1" ProviderNode="TrendWorXProvider" ProviderValue="TrendWorX64" ProviderPath="..\GenDemo\TrendWorX64_Examples"/>
      <Extension ID="SCHWXVWR" Name="Schedule Control" />
      <Extension ID="HTMLVWR" Name="HTML Browser" />
      <Extension ID="IMGVWR" Name="Image Viewer" />
      <Extension ID="SMARTVWR" Name="Smart Tile Viewer" />      

    </Extensions>
  </InstallerConfiguration>
</configuration>
