<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
MonitorWorX Common Configuration Settings
Copyright (c) 1986-2013 ICONICS, Inc.
*********************************************************************
-->
<MonitorWorXViewer>

  <!-- Settings -->
  <settings>
	  <listView showAttributes="true" />
	  <trayIcon balloonTipTimeout="5000" />
	  <dataVariable samplingInterval="2000" />
  </settings>

</MonitorWorXViewer>
