<?xml version="1.0" encoding="utf-8"?>

<!--
*********************************************************************
License: NativeLicenseServer Configuration File
Copyright (c) 1986-2012 ICONICS, Inc.
*********************************************************************
-->

<configuration>

  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml" />
    <client configSource="IcoCommunication.Client.config.xml" />
  </system.serviceModel>

</configuration>