<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
TrendWorX64 Common Configuration Settings
Copyright (c) 1986-2010 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <configSections>
    <sectionGroup name="DataSources">
      <section name="DataConnectors" type="Ico.Configuration.Provider.ProvidersConfigurationSection, IcoConfiguration"/>
      <section name="Filters" type="Ico.Configuration.Provider.ProvidersConfigurationSection, IcoConfiguration"/>
    </sectionGroup>
    <sectionGroup name="TrendPlugins">
      <section name="Plugins" type="Ico.Configuration.Provider.ProvidersConfigurationSection, IcoConfiguration" />
    </sectionGroup>
    <section name="ReportLayoutsSection" type="Ico.Reporting.ReportLayoutsConfigurationSection, IcoWPFSpecialized"/>
  </configSections>
  <DataSources>
    <DataConnectors defaultProvider="SimulatorConnector">
      <providers>
        <add name="UaConnector" type="Ico.Data.DataConnector.UaConnector, IcoCommonConnectors"></add>
        <add name="SimulatorConnector" type="Ico.Data.DataConnector.SimulatorConnector, IcoCommonConnectors"></add>
        <add name="DatasetConnector" type="Ico.Data.DataConnector.DatasetConnector, IcoCommonConnectors"></add>
      </providers>
    </DataConnectors>
    <Filters defaultProvider="Maximum">
      <providers>
        <add name="Maximum" type="Ico.Data.DataConnector.DemoConnector, IcoCommonConnectors"/>
      </providers>
    </Filters>
  </DataSources>
  <TrendPlugins>
    <Plugins defaultProvider="Line">
      <providers>
        <add name="Line" type="Ico.Twx.Plugins.TimeLineTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="Area" type="Ico.Twx.Plugins.TimeAreaTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="Bars" type="Ico.Twx.Plugins.TimeBarsTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="CircularLine" type="Ico.Twx.Plugins.CircularTimeLineTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="Bar" type="Ico.Twx.Plugins.HistogramTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="Pie" type="Ico.Twx.Plugins.PieTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="Spline" type="Ico.Twx.Plugins.TimeSplineTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="SplineArea" type="Ico.Twx.Plugins.TimeSplineAreaTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="StepArea" type="Ico.Twx.Plugins.TimeStepAreaTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="StepLine" type="Ico.Twx.Plugins.TimeStepLineTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="XY" type="Ico.Twx.Plugins.XYTwxPlotProvider, TwxViewerPlugins"></add>
        <add name="XYZ" type="Ico.Twx.Plugins.XYZTwxPlotProvider, TwxViewerPlugins"></add>
      </providers>
    </Plugins>
  </TrendPlugins>
  <ReportLayoutsSection>
    <ReportLayouts>
      <add LayoutName="Statistic Report" RelativePath="Layouts/Twx64Viewer/StatisticReport.rpx"/>
    </ReportLayouts>
  </ReportLayoutsSection>  
</configuration>
