<?xml version="1.0"?>
<!--
*********************************************************************
Workbench: Configuration File
Copyright (c) 1986-2012 ICONICS, Inc.
*********************************************************************
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml"/>
    <client configSource="IcoCommunication.Client.config.xml"/>
  </system.serviceModel>

  <appSettings>
    <add key="TraceCategoryName" value="Workbench"/>
    <!-- <add key="InitialUICulture" value="en-us"/> -->
  </appSettings>

</configuration>
