<?xml version="1.0"?>
<!--
*********************************************************************
Workbench64 Common Configuration Settings
Copyright (c) 1986-2011 ICONICS, Inc.
*********************************************************************
-->
<configuration>

  <configSections>
    <section name="SplashScreenSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <SplashScreenSettings>
    <add key="SplashImage" value="WorkbenchSplashScreen.png"/>
    <add key="ShowProgressBar" value="true"/>
    <add key="ProgressBarSize" value="150, 20"/>
    <add key="OverrideProgressBarPosition" value="true"/>
    <add key="ProgressBarPosition" value="190, 370"/>
  </SplashScreenSettings>

  <system.serviceModel>
    <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
    <bindings configSource="IcoCommunication.Bindings.config.xml"/>
    <client configSource="IcoCommunication.Client.config.xml"/>
  </system.serviceModel>

  <appSettings>
    <add key="TraceCategoryName" value="Workbench"/>
    <!-- <add key="InitialUICulture" value="en-us"/> -->
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IcoConfiguratorCore" publicKeyToken="58aa7495915e8ed4" culture="neutral"/>
        <bindingRedirect oldVersion="10.50.57.0" newVersion="10.60.64.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IcoBizVizRwxBusinessEntities" publicKeyToken="58aa7495915e8ed4" culture="neutral"/>
        <bindingRedirect oldVersion="10.50.57.0" newVersion="10.60.64.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IcoBizVizBwxBusinessEntities" publicKeyToken="58aa7495915e8ed4" culture="neutral"/>
        <bindingRedirect oldVersion="10.50.57.0" newVersion="10.60.64.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
